<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.virtualpantry" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginRegisterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HouseholdsActivity"
            android:label="@string/title_activity_households" >
        </activity>
        <activity
            android:name=".CreateHouseholdActivity"
            android:label="@string/title_activity_create_household"
            android:parentActivityName=".HouseholdsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.virtualpantry.HouseholdsActivity" />
        </activity>
        <activity
            android:name=".HouseholdActivity"
            android:label="@string/title_activity_household"
            android:parentActivityName=".HouseholdsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.virtualpantry.HouseholdsActivity" />
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName=".HouseholdActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.virtualpantry.HouseholdActivity" />
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".ShoppingListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.virtualpantry.ShoppingListActivity" />
        </activity>
        <activity
            android:name=".InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:parentActivityName=".HouseholdActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.virtualpantry.HouseholdActivity" />
        </activity>
    </application>

</manifest>
